:root {
  --background-body: #ffffff;
  --color-body: #212121;
  --font-family: "Roboto";
  --primary-white-color: #FFFFFF;
}
ul {
  list-style: none;
}
body {
  background-color: var(--background-body);
  font-family: var(--font-family);
}

/* logo */

.logo {
  font-family: "Raleway";
}
.logo-title-one {
  color: #2196f3;
}
.logo-title-two {
  color: #000000;
}
/* navigation */

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
